.sideBar {
    width: auto;
    padding-top: 100px;
    padding-left: 20px;
    text-indent: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: auto;
    flex: 20%;
    position: fixed
  }

.title {
    text-align: left;
    color: orange;
    font-size: 25px;
    font-family: Avantgarde;
}

.lista {
    margin-bottom: 10px;
}
  
.option {
padding: 5px;
  color: black;
  font-family: Avantgarde;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgb(211, 137, 0);
    border-radius: 5px;
    color: white;
  }
}