.fondo {
    background: url("../../template/Images/catalogo.jpeg");
    margin-left: auto;
    margin-right: auto;
  }

.relleno {
    background: rgba(255, 255, 255, 0.9);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 80%;
}