.size {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 125px;
}

.reviews {
  border-collapse: collapse;
  width: 100%;
}

.th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-primary);
  color: #fafafa;
  border: 1px solid #ddd;
  padding: 8px;
}

.td {
  border: 1px solid #ddd;
  padding: 8px;
}

.td:nth-child(1) {
  text-align: center;
}

.td:nth-child(4) {
  text-align: center;
}

.td:nth-child(5) {
  text-align: center;
}

.td:nth-child(6) {
  text-align: center;
}

.td:nth-child(7) {
  text-align: center;
}

.tr:nth-child(even) {
  background-color: #dbdbdb93;
}

.tr:hover {
  background-color: rgb(194, 194, 194);
}

.Btn {
  text-transform: uppercase;
  margin-top: 0.5rem;
  cursor: pointer;
  color: var(--color-primary);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: solid 2px var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  margin: 0.5rem;
  transition-duration: 500ms;

  &:hover {
    background-color: var(--color-primary);
    color: #fff;
  }
}
