@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Noto+Serif:wght@400;700&display=swap');

body {
    // variables de colores
    --color-text: #08080c;
    --color-primary: #f4a924;
  
    // variables de fuente
    --font-family-title: "Noto Serif", serif;
    --font-family-body: "Montserrat", sans-serif;
  
    font-family: var(--font-family-body);
    color: var(--color-text);
  }

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-title);
}