* {
  margin: 0;
  padding: 0;
}
.container {
  font-family: "merriweather sans";
}

.sidebar {
  position: absolute;
  width: 300px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  left: -300px;
  transition: 0.4s;
}

.sidebarOpen {
  position: absolute;
  width: 300px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.4s;
  left: 0;
}

.sidebar ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 24px;
}

.sidebarOpen ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 20px 24px;
}

.togglebtn {
  position: absolute;
  top: 30px;
  left: 330px;
}

.togglebtn span {
  width: 45px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 4px;
}
