.Catalogue {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    background-color: #F4F6F6;
    flex: 80%;
}

.Sidebar {
    flex: 20%;
}
