.Catalogue {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
  margin-left: 125px;
}

.add {
  height: 20px;
  width: 120px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.Fondo {
  background: url("../template/Images/catalogo.jpeg");
  margin-left: auto;
  margin-right: auto;
}

.Relleno {
  background: rgba(255, 255, 255, 0.9);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 80%;
}

.Button {
  display: inline-block;
  background-color: #BDC3C7;
  border-radius: 5px;
  color: white;
  border: 0px;
  padding: 5px 10px;
  margin: 5px 10px;
  transition: all 0.5s;
  &:hover {
    color: white;
    transform: scale(1.15);
    border-color: transparent;
    background-color: orange;
  }
}

.Size {
  display: flex;
  flex-direction: raw;
  max-width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
