.Categorias {
  height: auto;
  width: 25px;
  float: left;
  margin-top: 15px;
  background-color: orange;
  transition: 500ms linear;
  margin-top: 0px;
  overflow: hidden;
  text-indent: -9999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.Categorias:hover {
  height: auto;
  width: 220px;
  float: left;
  left: 0;
  background-color: orange;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px;
  margin-left: 0px;
  margin-top: 0px;
  text-indent: 0px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: fixed;
}

.Title {
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: Cambria;
}

.category {
  padding: 5px;
  color: #14213d;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgb(211, 137, 0);
    border-radius: 5px
  }
}

.Lista {
  margin-bottom: 10px;
}
