.imgLibros {
  background: url("../template/Images/homepage2.jpg");
  background-size: cover;
  height: calc(100vh - 80px);
  padding-top: 2%;
}

.form {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  width: 350px;
  height: auto;
  margin-left: 37%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.label {
  margin-bottom: 5px;
  margin-top: 20px;
}

.input {
  min-height: 25px;
  border-radius: 10px;
  border-color: #fca311;
}

.crudBTN {
  background-color: transparent;
  border-radius: 0px;
  color: #14213d;
  border: 4px solid #14213d;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 5px 10px;
  transition: all 0.5s;
  &:hover {
    color: white;
    transform: scale(1.15);
    border-color: transparent;
    background-color: orange;
  }
}

.divBTN {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.error {
  color: red;
}
