.imgLibros {
  background: url("../template/Images/homepage2.jpg");
  background-size: cover;
  height: calc(100vh - 80px);
  padding-top: 2%;
}

.form {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  width: 350px;
  height: auto;
  margin-left: 37%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.title {
}

.label {
  margin-bottom: 5px;
  margin-top: 20px;
}

.input {
  min-height: 25px;
  border-radius: 10px;
  border-color: #fca311;
}

.crudBTN {
  width: 50px;
  margin-top: 20px;
  margin-left: 5px;
}

.divBTN {
  display: flex;
  flex-direction: row;
}
