* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

div {
  font-family: "merriweather sans";
}

nav {
  background: #14213d;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin: auto
}

.links {
  display: flex;
  flex-direction: row;
  line-height: 80px;
  margin: 0 5px;
  float: right;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover {
  background: #313c5e;
  transition: 0.5s;
}

.imgLogo {
  margin-left: 50px;
  margin-top: 5px;
  width: 250px;
  height: 80%;
}

ion-icon {
  color: white;
  font-size: 23px;
  padding: 7px 13px;
  margin-top: 19px;
  cursor: pointer;
}

ion-icon:hover {
  background: #313c5e;
  transition: 0.5s;
  border-radius: 3px;
}
