.container {
  background-color: lightgray;
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

.details {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 1550px;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 30px;
}

.left {
  display: flex;
  width: 70%;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: auto;
  background-color: #fca311;
}

.imagen {
  margin-top: 50px;
  margin-bottom: 50px;
}
