.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Producto {
  background-color: transparent;
  backdrop-filter: blur(7px);
  width: 16rem;
  height: 24rem;
  margin: 2rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: 250ms linear;
}

.Producto:hover {
  box-shadow: 0px 5px 10px rgba(183, 183, 183, 0.69);
  border-radius: 0.5rem;
}

.Center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 350px;
}

.Libroimg {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  width: 10rem;
  height: 16rem;
  transition: 500ms linear;
}

.description {
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
}

.Price {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: -1rem;
  margin: 0px;
  color: var(--color-text);
  text-align: center;
}

.title {
  color: var(--color-text);
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.Button {
  text-transform: uppercase;
  margin-top: 0.5rem;
  cursor: pointer;
  color: var(--color-primary);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: solid 2px var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  transition-duration: 500ms;

  &:hover {
    background-color: var(--color-primary);
    color: #fff;
  }
}
