.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Producto {
  background-color: white;
  width: 260px;
  height: 350px;
  margin: 20px;
  display: inline-block;
  border-radius: 15px;
}

.Producto:hover {
  transition: 250ms linear;
  box-shadow: 0px 5px 10px rgba(183, 183, 183, 0.69);
  border-radius: 15px;
}

.Center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 350px;
}

.Libroimg {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  width: 240px;
  height: 240px;
  transition: 500ms linear;
}

.description {
  width: 80%;
  font-family: Cambria;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
}

.Price {
  margin-top: 7px;
  font-size: 24px;
}

.title {
  color: gray;
  margin-bottom: -17px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title:hover {
  color: gray;
  margin-bottom: -17px;
  margin: 0px;
  white-space: nowrap;
  cursor: pointer;
}

.Stock {
  color: gray;
}

.Button {
  display: flex;
  background-color: #ffffff;
  border-radius: 6px;
  color: #14213d;
  border: 2px solid #14213d;
  padding: 5px 10px;
  margin: 5px 30px;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.15);
    border-color: transparent;
    background-color: orange;
  }
}
