.container {
    align-content: center;
}

.title {
    align-content: center;
}

.date {
    align-content: center;
}

.user {
    align-content: center;
}

.rating {
    align-content: center;
}

.description {
    align-content: center;
}