.form {
    border-radius: 24px;
    width: 350px;
    height: auto;
    margin-left: 37%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .input {
    min-height: 25px;
    border-radius: 10px;
    border-color: #fca311;
  }