<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="logo"/>
            </div>
            <ul class="nav-area">
                <li><a href="#">Catalogo</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresa</a></li>
            </ul>
        </div>
        <div class="welcome-text">
            <h1>Laputaquemepario</h1>
            <a href="#">Contactame che</a>
        </div>
        
    </header>
    <div class="catalogue">
        <h1>Ofertas</h1>
    </div>
</body>
</html>